name: gcc
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
env:
  CI_DEPLOY_NEED_GCC: 1
  CI_DEPLOY_NEED_GRADLE: 1
  CI_DEPLOY_PLATFORM: ${{ github.job }}
  CI_DEPLOY_MODULE: .
jobs:
  linux-ppc64le:
    runs-on: ubuntu-16.04
    container: ubuntu:focal
    steps:
      - uses: supergrecko/gcc/.github/actions/deploy-focal@actions
  linux-x86_64:
    runs-on: ubuntu-16.04
    container: centos:6
    steps:
      - uses: bytedeco/javacpp-presets/.github/actions/deploy-centos@master